body {
    padding: 0px;
    margin: 0px;
}

.section_home, .section_wasabi, .section_simulacao, .section_quemSomos, .section_contato {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;

    flex-wrap: nowrap;
    gap: 30px;
}

.div_navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.div_authButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}